@font-face { font-family: "latobold"; src: url("../fonts/latobold.ttf"); }
@font-face { font-family: "latoregular"; src: url("../fonts/latoregular.ttf"); }
@font-face { font-family: "latolight"; src: url("../fonts/latolight.ttf"); }
@font-face { font-family: "latoheavy"; src: url("../fonts/latoheavy.ttf"); }
@font-face { font-family: "latosemibold"; src: url("../fonts/latosemibold.ttf"); }
